# Configuración de la Base de Datos (PostgreSQL en Supabase)
# Copia este archivo como .env para desarrollo local.
# En Azure App Service, configura estas variables en 'Configuration' -> 'Application settings'.

DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.lokjiueialuwrulybgut
DB_PASSWORD=tu_password_aqui

# Configuración General de la Aplicación
APP_ENV=development
APP_URL=http://localhost:8000
